@import url("https://fonts.googleapis.com/css2?family=Shojumaru&display=swap");

@mixin flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Shojumaru", cursive;
  position: relative;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  height: 10vh;
  nav {
    font-size: 0.9rem;
    height: inherit;
    padding: 0 10vw 0 10vw;
    @include flex();
    .logo {
      @include flex();
      justify-content: left;
      flex: 2;
      .logo-img {
        height: 8vh;
        padding-right: 1vw;
      }
    }
    .nav-links {
      @include flex();
      flex: 1;
    }
  }
}

#home {
  height: 90vh;
  display: grid;
  grid-template-columns: 10vw 2fr 1fr 10vw;
  align-items: center;
  h1 {
    grid-column: 2/3;
    margin-bottom: 25vh;
    font-size: 2.3em;
  }
  .yang {
    height: 30vh;
    margin-bottom: 20vh;
    margin-right: -10vh;
  }
}
#home2 {
  position: relative;
  height: 100vh;
  background: #000000;
  .dark-bottom {
    position: absolute;
    transform: translate(-20vh, -35vh) skew(48deg, -5deg);
    width: 115vw;
    z-index: -1;
  }
}

.yin {
  height: 30vh;
  margin-top: 30vh;
  margin-left: 10vw;
}
